<div class="card">
    <div class="card-container blue-container flex align-items-center justify-content-end">
        <div class="p-4">
            <p-button label="Importer" styleClass="p-button-success" (click)="importCategories()"></p-button>
        </div>
    </div>
</div>
<div class="list-categories">
    <p-table
        #dt
        [value]="loadListCategories()"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [rows]="sizePage()"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[sizePage()]"
        [loading]="loading()"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['titleAr', 'titleEn', 'titleFr']"
        [totalRecords]="totalElements()"
        (onLazyLoad)="nextPage($event)"
        [lazy]="true">
        <ng-template pTemplate="caption">
            <div class="table-header flex justify-content-between">
                List of Customers {{ totalElements() }}
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Global Search" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-i="rowIndex">
            <tr>
                <th style="width: 3rem"></th>
                <th style="min-width: 5rem" pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="titleAr">titleAr <p-sortIcon field="titleAr"></p-sortIcon></th>
                <th pSortableColumn="titleFr">titleFr <p-sortIcon field="titleFr"></p-sortIcon></th>
                <th pSortableColumn="titleEn">titleEn <p-sortIcon field="titleEn"></p-sortIcon></th>
                <th pSortableColumn="imageContent">imageContent <p-sortIcon field="imageContent"></p-sortIcon></th>
                <th style="width: 8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">id</span>
                    {{ customer.id }}
                </td>
                <td>
                    <span class="p-column-title">titleAr</span>
                    <span class="image-text">{{ customer.titleAr }}</span>
                </td>
                <td>
                    <span class="p-column-title">titleFr</span>
                    <span class="image-text">{{ customer.titleFr }}</span>
                </td>
                <td>
                    <span class="p-column-title">titleEn</span>
                    {{ customer.titleEn }}
                </td>
                <td>
                    <span class="p-column-title">imageContent</span>
                    <img src="{{ customer.imageContent }}" alt="Image" width="100" />
                </td>
                <td style="text-align: center">
                    <a pButton class="p-button-secondary" icon="pi pi-cog" routerLink="/private/category/add-update-category/{{ customer.id }}"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
