<h4>SrfGroup</h4>
<div class="container-side-bar">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Dashboard Mangment">
            <ul>
                <li className="py-4" routerLink="/private/dashboard/metrics">Dashboard</li>
                <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>

                <li className="py-4" routerLink="/private/dashboard/organigramme">Organigramme</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="User Management">
            <ul>
                <li className="py-4" routerLink="/private/user/list">List Users</li>
                <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>

                <li className="py-4" routerLink="/private/dashboard/organigramme">Organigramme</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Role Management">
            <ul>
                <li className="py-4" routerLink="/private/role/list-role">List Roles</li>
                <li className="py-4" routerLink="/private/role/list-permissions">List Permissions</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Offer Management">
            <ul>
                <li className="py-4" routerLink="/private/offer/list">List Offers</li>
                <li className="py-4" routerLink="/private/offer/description-add-new-offer">DescriptionAddNewOffer</li>
                <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Home Management">
            <ul>
                <li className="py-4" routerLink="/private/home/top-slides">List Top Slides</li>

                <li className="py-4" routerLink="/private/home/list-feature-slide">List Feature Slide</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Support Management">
            <ul>
                <li className="py-4" routerLink="/private/support/list-contact-us">Contact Us</li>
                <li className="py-4" routerLink="/private/support/list-about-us">About Us</li>
                <li className="py-4" routerLink="/private/support/list-newsletter">NewsLetter</li>
                <li className="py-4" routerLink="/private/support/list-declaration">Declaration</li>
                <li className="py-4" routerLink="/private/support/list-faq">FAQ</li>
                <li className="py-4" routerLink="/private/support/list-cgu">CGU</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Address Management">
            <ul>
                <li className="py-4" routerLink="/private/address/list">List address</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Category Management">
            <ul>
                <li className="py-4" routerLink="/private/category/list">List categories</li>
            </ul>
        </p-accordionTab>
    </p-accordion>
</div>
