<h5>Multiple</h5>
<div class="container-side-bar">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Dashboard Mangment">
            <ul>
                <li className="py-4" routerLink="/private/dashboard/home">Dashboard</li>
                <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>

                <li className="py-4" routerLink="/private/dashboard/organigramme">Organigramme</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="User Management">
            <ul>
                <li className="py-4" routerLink="/private/user/list">List Users</li>
                <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>

                <li className="py-4" routerLink="/private/dashboard/organigramme">Organigramme</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Offer Management">
          <ul>
            <li className="py-4" routerLink="/private/offer/list">List Offers</li>
            <li className="py-4" routerLink="/private/dashboard/logs">Logs</li>
          </ul>
        </p-accordionTab>
        <p-accordionTab header="Home Management">
            <ul>
                <li className="py-4" routerLink="/private/home/top-slides">List Top Slides</li>

                <li className="py-4" routerLink="/private/home/list-feature-slide">List Feature Slide</li>
            </ul>
        </p-accordionTab>
        <p-accordionTab header="Support Management">
          <ul>
            <li className="py-4" routerLink="/private/support/contact-us">Contact Us</li>

            <li className="py-4" routerLink="/private/home/list-feature-slide">List Feature Slide</li>
          </ul>
        </p-accordionTab>
    </p-accordion>
</div>
