<form [formGroup]="formGroup">
<div class="flex">
  <div class="flex-1 bg-yellow-500 font-bold text-gray-900 m-2 px-5 py-3 border-round">
    <h5>ContentAr</h5>
    <p-editor formControlName="contentAr" [style]="{ height: '320px' }"></p-editor>
  </div>
  <div class="flex-1 bg-yellow-500 font-bold text-gray-900 m-2 px-5 py-3 border-round">
    <h5>ContentFr</h5>
    <p-editor formControlName="contentFr" [style]="{ height: '320px' }"></p-editor>
  </div>
  <div class="flex-1 bg-yellow-500 font-bold text-gray-900 m-2 px-5 py-3 border-round">
    <h5>ContentEn</h5>
    <p-editor formControlName="contentEn" [style]="{ height: '320px' }"></p-editor>
  </div>
</div>
</form>

<div class="card">
  <div class="flex flex-row-reverse flex-wrap card-container">
    <div class="flex m-2">
      <button pButton pRipple type="button" [label]="idEntity()>0 ? 'Update new Content' : 'Add new Content'" class="p-button-help" (click)="addUpdateContent()"></button>
    </div>
  </div>
</div>
