<div class="container-details-user">
    <div class="grid">
        <div class="col-3">
            <div class="p-2 text-center">
                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250" height="250" class="avatar-user"></p-image>
            </div>
        </div>
        <div class="col-9">
            <div class="p-buttonset">
                <button pButton pRipple type="button" label="Update Authority" class="p-button-outlined p-button-success" (click)="updateAuthority()"></button>
                <button pButton pRipple type="button" label="UnBlock" class="p-button-outlined p-button-danger"></button>
            </div>

            <div class="card">
                <h5>Advanced</h5>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="id">Id</label>
                        <input
                            id="id"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            readonly="true"
                            [(ngModel)]="detailsUser.firstName"
                            [readOnly]="true" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="firstname6">Firstname</label>
                        <input
                            id="firstname6"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            readonly="true"
                            [(ngModel)]="detailsUser.firstName"
                            [readOnly]="true" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="lastname6">Lastname</label>
                        <input
                            id="lastname6"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.lastName"
                            [readOnly]="true" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="email">Email</label>
                        <input
                            id="email"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.email"
                            [readOnly]="true" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="registerDate">RegisterDate</label>
                        <input
                            id="registerDate"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.registerDate"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="phone">Phone</label>
                        <input
                            id="phone"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.phone"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="sourceConnectedDevice">SourceConnectedDevice</label>
                        <input
                            id="sourceConnectedDevice"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.sourceConnectedDevice"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="activatedAccount">Activated Account</label>
                        <input
                            id="activatedAccount"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [(ngModel)]="detailsUser.activatedAccount"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="address">Adresse</label>
                        <input
                            id="address"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [value]="getValueAddress()"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="linkProfileFacebook">LinkProfileFacebook</label>
                        <input
                            id="linkProfileFacebook"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none w-full"
                            [value]="detailsUser.linkProfileFacebook"
                            [readOnly]="true" />
                    </div>

                    <div class="field col-12 md:col-4" *ngIf="valuesAuthorities.length">
                        <label for="listAuthorities">List authorities</label>
                        <p-chips [(ngModel)]="valuesAuthorities" id="listAuthorities" [disabled]="true">
                            <ng-template let-item pTemplate="item"> {{ item.name }} <i class="pi pi-user ml-2"></i> </ng-template>
                        </p-chips>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="List of authorities" [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div *ngFor="let role of listRole()" class="field-checkbox">
                <p-checkbox name="group" [value]="role" [(ngModel)]="selectedAuthorities" [inputId]="inputValueId(role)"></p-checkbox>
                <label [for]="role.id">{{ role.name }}</label>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayModal = false" label="Cancel" styleClass="p-button-secondary"></p-button>
        <p-button icon="pi pi-check" (click)="updateUserAuthority()" label="Update" styleClass="p-button-success"></p-button>
    </ng-template>
</p-dialog>
