<div class="card">
  <div class="card-container blue-container flex align-items-center justify-content-end">
    <div class="p-4">
      <p-button label="Add New Faq"
                styleClass="p-button-success"
                routerLink="/private/support/add-update-faq"></p-button>
    </div>
  </div>
</div>
<div class="list-categories">
  <p-table
    #dt
    [value]="listFaq()"
    dataKey="id"
    styleClass="p-datatable-customers"
    [rowHover]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[2, 5]"
    [loading]="loading()"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['id', 'questionAr', 'questionFr', 'questionEn', 'responseAr', 'responseFr', 'responseEn']"
    [totalRecords]="totalElements()"
    [lazy]="true"
    (onLazyLoad)="nextPage($event)">
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Customers {{ totalElements() }}
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Global Search" />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th style="min-width: 5rem" pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="questionAr">questionAr <p-sortIcon field="questionAr"></p-sortIcon></th>
        <th pSortableColumn="questionFr">questionFr <p-sortIcon field="questionFr"></p-sortIcon></th>
        <th pSortableColumn="questionEn">questionEn <p-sortIcon field="questionEn"></p-sortIcon></th>
        <th pSortableColumn="responseAr">responseAr <p-sortIcon field="responseAr"></p-sortIcon></th>
        <th pSortableColumn="responseFr">responseFr <p-sortIcon field="responseFr"></p-sortIcon></th>
        <th pSortableColumn="responseEn">responseEn <p-sortIcon field="responseEn"></p-sortIcon></th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td>
          <span class="p-column-title">id</span>
          {{ customer.id }}
        </td>
        <td>
          <span class="p-column-title">questionAr</span>
          <div class="image-text" [innerHTML]="customer.questionAr"></div>
        </td>
        <td>
          <span class="p-column-title">questionFr</span>
          <div class="image-text" [innerHTML]="customer.questionFr"></div>
        </td>
        <td>
          <span class="p-column-title">questionEn</span>
          <div class="image-text" [innerHTML]="customer.questionEn"></div>
        </td>
        <td>
          <span class="p-column-title">responseAr</span>
          <div class="image-text" [innerHTML]="customer.responseAr"></div>
        </td>
        <td>
          <span class="p-column-title">responseFr</span>
          <div class="image-text" [innerHTML]="customer.responseFr"></div>
        </td>
        <td>
          <span class="p-column-title">responseEn</span>
          <div class="image-text" [innerHTML]="customer.responseEn"></div>
        </td>
        <td style="text-align: center">
          <a pButton class="p-button-secondary" icon="pi pi-cog" routerLink="/private/support/add-update-about-us/{{ customer.id }}"></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
