<div class="list-top-slides">
    <div class="card">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
            <div class="flex align-items-center justify-content-center border-round m-2">
                <h3>List of Top Slides</h3>
            </div>
            <div class="flex align-items-center justify-content-center border-round m-2">
                <a pButton pRipple label="Add new Slide" class="p-button-outlined p-button-secondary" routerLink="/private/home/add-top-slides"></a>
            </div>
        </div>
    </div>

    <p-table
        #dt
        [value]="listTopSlides"
        [(selection)]="selectedTopSlides"
        dataKey="id"
        styleClass="p-datatable-customers"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['id', 'descriptionAr', 'descriptionFr', 'descriptionEn']">
        <ng-template pTemplate="caption">
            <div class="table-header flex justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Global Search" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="p-header-row">
                <th style="width: 3rem"></th>
                <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="descriptionAr">descriptionAr <p-sortIcon field="descriptionAr"></p-sortIcon></th>
                <th pSortableColumn="descriptionFr">descriptionFr <p-sortIcon field="descriptionFr"></p-sortIcon></th>
                <th pSortableColumn="descriptionEn">descriptionEn <p-sortIcon field="descriptionEn"></p-sortIcon></th>
                <th pSortableColumn="imageDesktop">imageDesktop <p-sortIcon field="imageDesktop"></p-sortIcon></th>
                <th pSortableColumn="imageMobile">imageMobile <p-sortIcon field="imageMobile"></p-sortIcon></th>
                <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon></th>
                <th style="width: 8rem"></th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="filter($event, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter" />
                </th>
                <th>
                    <input pInputText type="text" (input)="filter($event, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter" />
                </th>
                <th>
                    <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">
                        <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                                <span class="p-ml-1">{{ option.label }}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </th>
                <th>
                    <p-calendar
                        (onSelect)="onDateSelect($event)"
                        (onClearClick)="dt.filter('', 'date', 'equals')"
                        [showButtonBar]="true"
                        styleClass="p-column-filter"
                        placeholder="Registration Date"
                        [readonlyInput]="true"
                        dateFormat="yy-mm-dd"></p-calendar>
                </th>
                <th>
                    <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                        </ng-template>
                    </p-dropdown>
                </th>
                <th>
                    <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>
                    <span class="p-column-title">id</span>
                    {{ customer.id }}
                </td>
                <td>
                    <span class="p-column-title">descriptionAr</span>
                    <div [innerHTML]="customer.descriptionAr"></div>
                </td>
                <td>
                    <span class="p-column-title">descriptionFr</span>
                    <div [innerHTML]="customer.descriptionFr"></div>
                </td>
                <td>
                    <span class="p-column-title">descriptionEn</span>
                    <div [innerHTML]="customer.descriptionEn"></div>
                </td>
                <td>
                    <span class="p-column-title">imageDesktop</span>
                    <img [src]="customer.imageDesktop" width="150" height="150" />
                </td>
                <td>
                    <span class="p-column-title">imageMobile</span>
                    <img [src]="customer.imageMobile" width="150" height="150" />
                </td>
                <td style="text-align: center">
                    <div class="container-action">
                        <span class="p-buttonset">
                            <a pButton pRipple class="p-button-success" label="Edit" icon="pi pi-check" routerLink="/private/home/edit-add-top-slides/{{ customer.id }}"></a>
                            <button pButton pRipple class="p-button-danger" label="Delete" icon="pi pi-trash" (click)="deleteSlide(customer.id)"></button>
                        </span>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000">
    <p-footer>
        <button type="button" pButton label="Cancel" class="p-button-secondary" (click)="rejectDelete()"></button>
        <button type="button" pButton label="Delete item" class="p-button-danger" (click)="acceptDelete()"></button>
    </p-footer>
</p-confirmDialog>
