<div class="list-users">
  <table mat-table [dataSource]="listUsers">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
    </ng-container>

    <!-- RegisterDate Column -->
    <ng-container matColumnDef="registerDate">
      <th mat-header-cell *matHeaderCellDef> RegisterDate </th>
      <td mat-cell *matCellDef="let user"> {{user.registerDate}} </td>
    </ng-container>

    <!-- address.city Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> address.city </th>
      <td mat-cell *matCellDef="let user"> {{user.address?.city}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
<!--    <p-table-->
<!--        #dt-->
<!--        [value]="listUsers"-->
<!--        [(selection)]="selectedCustomers"-->
<!--        dataKey="id"-->
<!--        styleClass="p-datatable-customers"-->
<!--        [rowHover]="true"-->
<!--        [rows]="10"-->
<!--        [showCurrentPageReport]="true"-->
<!--        [rowsPerPageOptions]="[10, 25, 50]"-->
<!--        [loading]="loading"-->
<!--        [paginator]="true"-->
<!--        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"-->
<!--        [filterDelay]="0"-->
<!--        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">-->
<!--        <ng-template pTemplate="caption">-->
<!--            <div class="table-header">-->
<!--                List of Customers-->
<!--                <span class="p-input-icon-left">-->
<!--                    <i class="pi pi-search"></i>-->
<!--                    <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Global Search" />-->
<!--                </span>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="header">-->
<!--            <tr>-->
<!--                <th style="width: 3rem"></th>-->
<!--                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>-->
<!--                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>-->
<!--                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>-->
<!--                <th pSortableColumn="registerDate">RegisterDate <p-sortIcon field="registerDate"></p-sortIcon></th>-->
<!--                <th pSortableColumn="address.city">Address <p-sortIcon field="address.city"></p-sortIcon></th>-->
<!--                <th pSortableColumn="sourceConnectedDevice">SourceConnectedDevice <p-sortIcon field="sourceConnectedDevice"></p-sortIcon></th>-->
<!--                <th pSortableColumn="activatedAccount">Activated Register <p-sortIcon field="activatedAccount"></p-sortIcon></th>-->
<!--                <th pSortableColumn="activity">Activity <p-sortIcon field="activity"></p-sortIcon></th>-->
<!--                <th style="width: 8rem"></th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th>-->
<!--                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input pInputText type="text" (input)="filter($event, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter" />-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input pInputText type="text" (input)="filter($event, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter" />-->
<!--                </th>-->
<!--                <th>-->
<!--                    <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">-->
<!--                        <ng-template let-option pTemplate="item">-->
<!--                            <div class="p-multiselect-representative-option">-->
<!--                                <span class="p-ml-1">{{ option.label }}</span>-->
<!--                            </div>-->
<!--                        </ng-template>-->
<!--                    </p-multiSelect>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <p-calendar-->
<!--                        (onSelect)="onDateSelect($event)"-->
<!--                        (onClearClick)="dt.filter('', 'date', 'equals')"-->
<!--                        [showButtonBar]="true"-->
<!--                        styleClass="p-column-filter"-->
<!--                        placeholder="Registration Date"-->
<!--                        [readonlyInput]="true"-->
<!--                        dateFormat="yy-mm-dd"></p-calendar>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">-->
<!--                        <ng-template let-option pTemplate="item">-->
<!--                            <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>-->
<!--                        </ng-template>-->
<!--                    </p-dropdown>-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter" />-->
<!--                </th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-customer>-->
<!--            <tr class="p-selectable-row">-->
<!--                <td>-->
<!--                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Name</span>-->
<!--                    {{ customer.firstName }} {{ customer.lastName }}-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Email</span>-->
<!--                    <span class="image-text">{{ customer.email }}</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Phone</span>-->
<!--                    <span class="image-text">{{ customer.Phone }}</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">RegisterDate</span>-->
<!--                    {{ customer.registerDate }}-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Address</span>-->
<!--                    <span>{{ customer.address?.city }}</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">SourceConnectedDevice</span>-->
<!--                    <span>{{ customer.sourceConnectedDevice }}</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Activated Register</span>-->
<!--                    <span>{{ customer.activatedAccount }}</span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <span class="p-column-title">Activity</span>-->
<!--                    <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>-->
<!--                </td>-->
<!--                <td style="text-align: center">-->
<!--                    <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="emptymessage">-->
<!--            <tr>-->
<!--                <td colspan="8">No customers found.</td>-->
<!--            </tr>-->
<!--        </ng-template>-->
<!--    </p-table>-->
</div>
